<div style="position: absolute; bottom: 0; left: 0; !important; right: 0">
  <p style="text-align: center">
    <ion-fab style="margin-top: -95px; margin-left: -30px">
      <ion-fab-button (click)="pushWol()" color="danger">
        <ion-icon [name]="isPower ? 'power' : 'send'">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>
  </p>
</div>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="analytics" (click)="isPower=true">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Analytics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="led" (click)="isPower=false">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Lights</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
