<div style="position: absolute; bottom: 0; left: 0; !important; right: 0">
  <p style="text-align: center">
    <ion-fab style="margin-top: -75px; margin-left: -30px">
      <ion-fab-button (click)="pushWol()" color="danger">
        <ion-icon name="power">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>
  </p>
</div>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="analytics">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Analytics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="led">
      <ion-icon name="color-palette"></ion-icon>
      <ion-label>Led</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
